    <!-- Footer -->
    <footer class="footer mt-auto">
    <div class="footer-content container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-10 mx-auto">
                <div class="row d-none d-lg-flex">
                    <div class="col-2 text-center">
                        <a href="index.html" class="footer-link">HOME</a>
                    </div>
                    <div class="col-2 text-center">
                        <a href="research.html" class="footer-link">RESEARCH</a>
                    </div>
                    <div class="col-2 text-center">
                        <a href="culture.html" class="footer-link active">CULTURE</a>
                    </div>
                    <div class="col-2 text-center">
                        <a href="publications.html" class="footer-link">PAPERS</a>
                    </div>
                    <div class="col-2 text-center">
                        <a href="people.html" class="footer-link">PEOPLE</a>
                    </div>
                    <div class="col-2 text-center">
                        <a href="join.html" class="footer-link">JOIN US!</a>
                    </div>
                </div>
                <div class="row d-flex d-lg-none">
                    <div class="col-4 text-start mt-2">
                        <a href="index.html" class="footer-link">HOME</a>
                    </div>
                    <div class="col-4 text-center mt-2">
                        <a href="research.html" class="footer-link">RESEARCH</a>
                    </div>
                    <div class="col-4 text-end mt-2">
                        <a href="culture.html" class="footer-link active">CULTURE</a>
                    </div>
                    <div class="col-4 text-start mt-4">
                        <a href="publications.html" class="footer-link">PAPERS</a>
                    </div>
                    <div class="col-4 text-center mt-4">
                        <a href="people.html" class="footer-link">PEOPLE</a>
                    </div>
                    <div class="col-4 text-end mt-4">
                        <a href="join.html" class="footer-link">JOIN US!</a>
                    </div>
                </div>
                <div class="text-start mt-5">
                <img src="assets/logos/BME-White-Horizontal.png" alt="Department Logo" class="footer-logo" style="width: 300px; height: auto;">
            </div>
            </div>
            
        </div>
    </div>
</footer>
