    <!-- Footer -->
    <footer class="footer mt-auto py-3 text-white">
        <div class="container">
            <div class="row align-items-center">
                <!-- Left-aligned department logo -->
                <div class="col-md-6 text-start">
                    <img src="assets/logos/BME-White-Horizontal.png" alt="Department Logo" class="footer-logo" style="width: 300px; height: auto;">
                </div>

                <!-- Right-aligned contact information -->
                <div class="col-md-6 text-md-end text-start mt-3 mt-md-0">
                    <p class="mb-1 fw- small">CONTACT</p>
                    <p class="mb-0 small">{{ site.data.lab.contact.name }}<br>
                        {{ site.data.lab.contact.title }}<br>
                        {{ site.data.lab.contact.email }}</p>
                </div>
            </div>
        </div>
    </footer>
