    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.data.lab.analytics_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.data.lab.analytics_id }}');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    {% if page.og %}
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ page.og.title }}">
    <meta property="og:description" content="{{ page.og.description }}">
    <meta property="og:image" content="{{ page.og.image }}">
    <meta property="og:url" content="{{ page.og.url }}">
    <meta property="og:type" content="{{ page.og.type }}">
    {% endif %}
    <!-- Favicons -->
    <link rel="icon" type="image/png" href="assets/favicons/hiphi_favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/favicons/hiphi_favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/favicons/hiphi_favicon-48x48.png" sizes="48x48">
    <link rel="apple-touch-icon" href="assets/favicons/hiphi_favicon-180x180.png" sizes="180x180">
    <link rel="icon" type="image/png" href="assets/favicons/hiphi_favicon-512x512.png" sizes="512x512">
    {% include button-shadow-script.html %}
