                <div class="publications-list">
{% for year_group in site.data.publications.publications_by_year %}
                    <div class="year-section">
                        <h2 class="paper-year">{{ year_group.year }}</h2>
{% for paper in year_group.papers %}
                        <div class="paper-entry">
                            <h3 class="paper-title">{{ paper.title | upcase }}</h3>
{% capture author_line %}{% include author-list.html authors=paper.authors and_before_last=paper.and_before_last %}{% endcapture %}
                            <p class="paper-authors">{{ author_line | strip }}. <i>{{ paper.venue }}</i></p>
                            <p class="paper-abstract">
                                {{ paper.abstract }} <a href="{{ paper.pdf }}" class="download-link"{% if paper.duplicate_download_class %} class="download-link"{% endif %}>Download the paper.</a>
                            </p>
                        </div>
{% endfor %}
                    </div>
{% endfor %}
                </div>
